<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  <% products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price_with_vat %> (VAT <%= product.vat %>)</td>
    </tr>
  <% end %>
  </tbody>
</table>
